<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/')">settings</span> -->
    <img  class="questionmarks consentImg" src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1 class="urduFont"> پہیلیاں </h1>
    <p class="obj pad1 name col-lg-8 col-md-9 col-xs-11 col-sm-11 center-block consent urdu urduFont"> 
    یہ ایک پہیلیاں بوجھنے کا کھیل ہے جو ایک تحقیق کا حصہ ہے
    جس کا مقصد تعلیم کے حاصول کے دوران لوگوں کی غور۔و۔فکر، سمجھ بوجھ اور فیصلہ سازی کی صلاحیت کو سمجھنا ہے۔
    جمع کردہ تمام ڈیٹا کو خفیہ رکھا جائے گا اور نام ظاہر نہیں کیا جائے گا۔
    <br>
    آگے بڑھنے سے پہلے، ہم جان لینا چاہیں گے کہ کیا آپ اس تحقیق میں حصہ لینے پر راضی ہے؟ </p> <br><br>
    <!-- <button class="button agree urduFont agreeU" onclick="location.replace('settingU')"> میں رضامند ہوں </button><br><br> -->


    <form action="/consentU" method="POST">
        <button class="button agree urduFont agreeU name col-lg-3 col-md-5 col-xs-7 col-sm-8 center-block " onclick="location.replace('settingU')"> میں رضامند ہوں </button><br><br>
    </form>



    <script src="/js/index.js"></script>
</body>
</html>