<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/')">person</span> -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <form action="/language" method="POST">
        <button style="padding-bottom: 7.5px;padding-top: 7.5px;" class="button name col-lg-3 col-md-3 col-xs-5 col-sm-5 center-block" name="language" value="eng" onclick="location.replace('consent')"> English </button><br><br><br>
        <button style="padding-bottom: 15px;"class="button name col-lg-3 col-md-3 col-xs-5 col-sm-5 center-block urduF" name="language" value="urdu" onclick="location.replace('consentU')"> اردو‎ </button>
        <br><br><br><br><br><br><br><br><br>     
    </form>
    <script src="/js/index.js"></script>
</body>
</html>