<%-include("partials/header");-%>
<body>
    <!-- <span class="material-icons md-48 md-16" onclick="location.replace('/setting')">person</span> -->
    <img  class=questionmarks src="/images/finalquestionmarks.png" alt="questionmarks">
    <h1 class="smallH"> Riddle Me </h1>

    <p class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block">
        We can only Riddle you once :) <br>
        Thank you for your time !!!
    </p>
    <br><br>
    <p class="obj1 name col-lg-9 col-md-9 col-xs-9 col-sm-9 center-block urduFont" dir="rtl">
        آپ یہ گیم صرف ایک بار کھیل سکتے ہیں :) <br>
        آپ کے وقت کا بہت بہت شکریہ !!!
    </p>
    <!-- <button class="button name col-lg-4 col-md-4 col-xs-4 col-sm-4 center-block ldrbtd" onclick="location.replace('questions')"> Start </button><br><br><br> -->
    <!-- <button class="button name col-lg-4 col-md-4 col-xs-4 col-sm-4 center-block ldrbtd"> Leaderboard </button> -->
    <script src="/js/index.js"></script>
</body>
</html>

<!-- <div>Icons made by 
    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from 
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div> -->